*{
    text-align: center;
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-size: 28px;
}
.NavBar a{
    color: rgb(224, 163, 106);
    padding: 0;
    margin: 20px;
  }
  
  .NavBar a:hover {
    color: rgb(201, 105, 105);
  }